header {
  background-color: black;
  color: white;
  text-align: center;
  height: 75px;
  margin: auto;
  padding: 13px 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }

.container-fluid {
  /* background: red; */
}

.searchdiv {
  background: whitesmoke;
}

.searchedCitiesTable {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  background: white;
}

td {
  padding: 10px;

}

tr {
  border-style: solid;
  border-color: lightgray;
  border-width: thin;
}